.loginBox{
    background-image: url("../../../assets/loginBox.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width:100%;
    /* background-color: blueviolet; */
}

.logoPic{
    width:320px;
    height:150px;
    margin:0 auto;
    display:inline-block;
}
.normal {
    width: 320px;
    margin: 0 auto;
    padding-top: 10%;
    @media screen and (max-width: @screen-sm) {width: 95%;}
}
.registerBtn{
    text-align: right;
    /* background-color: red; */
    display: inline-block;
    width: 100%;
    padding-right: 5%;
    margin-top: 0px;
}
