
.header{
   background-color:lightBlue;
   padding: 0;
}
.logo{
   height: 50px;
   width: 250px;
   margin-left: 4%;
}
.userCol{
   position: relative;
   background-color: red;
}
.dropDown{
   position: absolute;
   height:60px;
   right: 20px;
   top: 5px;
}
.userPic{
   position: absolute;
   height:50px;
   width: 50px;
   right: 20px;
   top: 8px;
}
.footer{
   background-color:lightGray; 
   color:rgb(114, 103, 101);
   /* position:fixed; */
   /* bottom:0; */
   width:100%;
   height:15%;
   text-align: center;
}

.copyRight{
  font-size: 12px
}
